<!DOCTYPE html>
<html
  lang="{{ locale | default('en') }}"
  data-age="{{ age | default('items') }}"
  data-animations="{{ animations | default('on') }}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Alberto Ferrero</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
</head>
<body>
    <main>
        {% block header %}
        {% endblock %}
        
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
