{% set items = collections[locale + '_' + age] %}

{% set css %}
  {% include "css/link.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>

{% from 'layouts/components/macros.njk' import collectionArticle %}

<div class="flex justify-center">
  {% for item in items | reverse %}
    {% if loop.first %}<ul class="w-full">{% endif %}
      {% if item.data.title %}
        <li class="mb-10">
          {{ collectionArticle(item.data.category, item.date, locale, item.data.title, item.data.thumb, item.url) }}
        </li>
      {% endif %}
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
</div>

{% set js %}
    {% include "js/collection-params.js" %}
{% endset %}
<script>
    {{ js | jsmin | safe }}
</script>
