{% set items = collections[locale + '_' + age + '_' + category] %}

{% from 'layouts/components/macros.njk' import collectionArticle, appArticle %}

<div class="flex justify-center">
  <ul class="w-full">
    {% for item in items | reverse %}
      {% if item.data.title %}
        <li class="mb-10">
          {% if item.data.category === 'App' or item.data.category === 'App' %}
            {{ appArticle(item.data.category, item.date, locale, item.data.title, item.data.thumb,
              item.data.url,
              item.data.description
            ) }}
          {% else %}
            {{ collectionArticle(item.data.category, item.date, locale, item.data.title, item.data.thumb, item.url, item.data.description) }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% set js %} {% include "js/collection-params.js" %} {% endset %}
<script>
    {{ js | jsmin | safe }}
</script>
