{% set locales = site.locales %}
{% set ages = site.ages %}

<div class="grid grid-cols-[max-content_1fr] gap-x-7 gap-y-3 items-center xs:gap-x-12">
  <fieldset class="contents mr-7 my-2">
    <legend class="sr-only">{{ 'settings.language' | t(locale) }}</legend>
    <div class="col-start-1 mb-1 text-slate-600 text-lg dark:text-slate-400">
      {{ 'settings.language' | t(locale) }}
    </div>
    <div class="col-start-2 flex gap-7 m-2">
      {% for item in locales %}
        <custom-radio-button
          category="locale"
          name="locale"
          value="{{ item.value }}"
          label="{{ ('locale.' + item.value) | t(locale) }}"
          {% if item.value === locale %}checked{% endif %}
        >
        </custom-radio-button>
      {% endfor %}
    </div>
  </fieldset>

  <!--
  <fieldset class="contents mr-7 my-2">
    <legend class="sr-only">{{ 'settings.parental' | t(locale) }}</legend>
    <div class="col-start-1 mb-1 text-slate-600 text-lg dark:text-slate-400">
      {{ 'settings.parental' | t(locale) }}
    </div>
    <div class="col-start-2 flex flex-col m-2">
      <custom-checkbox id="custom-checkbox" label="{{ 'kids.label' | t(locale) }}" {% if age === 'kids' %}checked{% endif %}></custom-checkbox>
    </div>
  </fieldset>
  -->

  <fieldset class="contents mr-7 my-2">
    <legend class="sr-only">{{ 'settings.motion' | t(locale) }}</legend>
    <div class="col-start-1 mb-1 text-slate-600 text-lg dark:text-slate-400">
      {{ 'settings.motion' | t(locale) }}
    </div>
    <div class="col-start-2 flex flex-col m-2">
      <custom-checkbox
        id="custom-checkbox-animations"
        label="{{ 'animations.label' | t(locale) }}"
        {% if (animations | default('on')) === 'on' %}checked{% endif %}
      ></custom-checkbox>
    </div>
  </fieldset>
</div>