{% extends 'layouts/base/base.njk' %}

{% from 'layouts/components/macros.njk' import itemFooter, itemTitle %}

{% block nav %}
    <div class="flex justify-between p-4">
        {% include 'layouts/components/home-button.njk' %}
        {% include 'layouts/components/menu-button.njk' %}
    </div>
{% endblock %}

{% block main %}
    <article>
        {% if image !== undefined %}
            <div class="md:m-8 md:px-0 mx-auto px-4">
                <div class="border-2 border-double border-slate-200 dark:border-slate-700 md:p-8 p-4">
                    <picture class="block max-w-screen-md mx-auto">
                        <source
                            type="image/webp"
                            media="(min-width: 720px)"
                            srcset="./../../../../{{ image.url }}.webp"
                        >
                        <source
                            type="image/jpeg"
                            media="(min-width: 720px)"
                            srcset="./../../../../{{ image.url }}.jpg"
                        >
                        <img
                            class="block mx-auto"
                            alt="{{ img.text }}"
                            src="./../../../../{{ thumb.url }}.jpg"
                        >
                    </picture>
                </div>
            </div>
        {% endif %}
        <div class="text-slate-800 dark:text-slate-200">{{ itemTitle(title) }}</div>
        <section class="max-w-screen-md mx-auto px-4 text-base text-slate-800 dark:text-slate-200 md:text-lg">
            {{ content | safe }}
        </section>
        {{ itemFooter(date, locale) }}
    </article>
{% endblock %}