{% extends 'layouts/base/base.njk' %}

{% if locale === 'es' %}
    {% set title = 'Menú' %}
{% endif %}
{% if locale === 'en' %}
    {% set title = 'Menu' %}
{% endif %}

{% block nav %}
    <div class="flex justify-between p-4">
        {% include 'layouts/components/home-button.njk' %}
    </div>
    {% include 'layouts/base/settings.njk' %}
{% endblock %}

{% block main %}
   <div class="p-3 md:p-6 mb-10">
        <hgroup class="max-w-screen-xl mx-auto">
            <h1 class="font-primary mb-3 text-4xl text-slate-400 dark:text-slate-600">
                {% if locale === 'en' %}
                    Menu
                {% endif %}
                {% if locale === 'es' %}
                    Menú
                {% endif %}
            </h1>
            <div class="mb-10 text-l text-slate-700 dark:text-slate-300">
                {{ content | sanitizeHtml | safe }}
            </div>
        </hgroup>
        {% include 'layouts/base/collection.njk' %}
    </div>
{% endblock %}
