{% extends 'layouts/base/base.njk' %}

{% block nav %}
    <div class="flex fixed items-center justify-between p-4 top-0 w-full" id="nav">
        <h1 class=" font-serif text-xl lg:text-3xl">{{ title }}</h1>
        {% include 'layouts/components/close-button.njk' %}
    </div>
{% endblock %}

{% block main %}

    <div class="grid">
        <scene-viewer
            class="flex flex-col items-center justify-end min-h-full-moon pb-16 lg:pb-24 px-3 relative text-lg md:text-2xl top-0 w-auto"
            animation="{{ animation }}"
        >
            {{ content | safe }}
        </scene-viewer>
        <div
            id="controls"
            length="{{ length }}"
            class="bottom-0 fixed flex group justify-between pb-3 px-3 w-full"
        >
                <a id="prev-button" aria-label="Previous" class="border border-slate-400 font-bold font-serif m-2 p-3 text-4xl">&larr;</a>
                <a id="next-button" aria-label="Next" class="border border-slate-400 font-bold font-serif m-2 p-3 text-4xl">&rarr;</a>
        </div>
    </div>

    <script src="/js/scene-slider.js"></script>

    <script src="/js/scene-viewer.js"></script>

{% endblock %}

<script src="/js/toggle-nav.js"></script>
