{% extends 'layouts/base/base.njk' %}

{% from 'layouts/components/macros.njk' import itemCast, itemFooter, itemSubtitle, itemTitle %}

{% block nav %}
    <div class="flex justify-between p-4" id="nav">
        {% include 'layouts/components/home-button.njk' %}
        {% include 'layouts/components/menu-button.njk' %}
    </div>
{% endblock %}

{% block main %}
    <article>
        {{ itemTitle(title) }}
        {{ itemSubtitle(subtitle) }}
        {% if cast %}
            <section class="max-w-screen-xl mx-auto px-4">
                {{ itemCast(cast) }}
            </section>
        {% endif %}
        <section class="border-2 border-double border-slate-200 grid grid-flow-row h-full items-center justify-center m-4 p-4 dark:border-slate-700">
            <div class="bg-white h-[30vh]">
                {{ content | safe }}
            </div>
            <div class="flex justify-center p-7">
                <a class="border border-slate-400 brutton m-3 p-3 text-center text-xl dark:border-slate-600" id="start-button"/>
                    <span class="border-b-2 border-transparent text-slate-800 dark:text-slate-200 hover:border-slate-200 dark:hover:border-slate-800">{{ 'Go' if locale === 'en' else 'Entrar' }}</span>
                </a>
            </div>
        </section>
        {{ itemFooter(date, locale) }}
    </article>

    {% set sequencejs %} {% include "js/sequence-params.js" %} {% endset %}
    <script>
        {{ sequencejs | jsmin | safe }}
    </script>

{% endblock %}

{% set navjs %} {% include "js/toggle-nav.js" %} {% endset %}
<script>
    {{ navjs | jsmin | safe }}
</script>
