
<a aria-label="Navigate back to item page" class="border border-slate-400 brutton font-serif m-3 p-3 text-center text-xl" id="close-button" href="../">
    <span class="border-b-2 border-transparent text-slate-800 dark:text-slate-200 hover:border-slate-200 dark:hover:border-slate-800">X</span>
</a>
