
<a aria-label="Navigate back to item page" class="border border-slate-400 brutton font-serif m-3 p-3 text-center text-xl" id="close-button" href="../">
    <span class="border-b-2 border-transparent hover:border-slate-200">X</span>
</a>
