<div class="grid grid-cols-2 items-end my-32">
    <div class="col-span-2 max-w-64 pb-3 justify-self-center scale-x-[-1]">
        {% include 'layouts/components/alberto-typing.njk' %}
    </div>
    <hr class="col-start-2" />
</div>
<div class="grid justify-end">
    <div>
         <a class="inline-flex flex-col mb-10 items-start gap-1" href="{{ '/' + (locale | default('en')) + '/feed.xml' | url }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                <path d="M4 11a9 9 0 0 1 9 9"/>
                <path d="M4 4a16 16 0 0 1 16 16"/>
                <circle cx="5" cy="19" r="1"/>
            </svg>
            {{ 'feed.subscribe' | t(locale) }}
        </a>
        <hr />
    </div>
    <div class="pr-7 py-3 xs:py-10">
        <footer>
            {{ 'site.name' | t(locale) }}
        </footer>
    </div>
</div>