{% macro collectionArticle(category, date, locale, title, thumb, url, description) %}
    <article class="grid grid-rows-lol md:gap-10 md:grid-cols-lol md:grid-rows-nonlol mb-10 md:mb-7">
        <div class="border-2 border-double border-slate-200 flex justify-center p-4 w-full">
            <div class="relative w-full">
                <picture>
                    <source
                        type="image/webp"
                        srcset="./../../../{{ thumb.url }}.webp"
                    >
                    <source
                        type="image/jpeg"
                        srcset="./../../../{{ thumb.url }}.jpg"
                    >
                    <img
                        alt="{{ thumb.text }}"
                        class="absolute h-full left-1/2 transform -translate-x-1/2"
                        loading="lazy"
                        src="./../../../{{ thumb.url }}.jpg"
                    >
                </picture>
            </div>
        </div>
        <div>
            <h2 class="border-b-2 border-slate-200 hover:border-slate-400 inline-block mb-1 mt-3 pb-1 text-3xl">
                <a class="font-serif link" href="#" params-handler="{{ url }}">{{ title }}</a>
            </h2>
            <p class="p-0 my-2">{{ description }}</p>
            <p class="p-0 my-2">{{ category }}, <time datetime="{{ date }}">{{ date | asPostDate(locale) }}</time></p>
        </div>
    </article>
{% endmacro %}

{% macro appArticle(category, date, locale, title, thumb, url, description) %}
    <article class="grid grid-rows-lol md:gap-10 md:grid-cols-lol md:grid-rows-nonlol mb-10 md:mb-7">
        <div class="border-2 border-double border-slate-200 flex justify-center p-4 w-full">
            <div class="relative w-full">
                <picture>
                    <source
                        type="image/webp"
                        srcset="./../../../{{ thumb.url }}.webp"
                    >
                    <source
                        type="image/jpeg"
                        srcset="./../../../{{ thumb.url }}.jpg"
                    >
                    <img
                        alt="{{ thumb.text }}"
                        class="absolute h-full left-1/2 transform -translate-x-1/2"
                        loading="lazy"
                        src="./../../../{{ thumb.url }}.jpg"
                    >
                </picture>
            </div>
        </div>
        <div>
            <h2 class="border-b-2 border-slate-200 hover:border-slate-400 inline-block mb-1 mt-3 pb-1 text-3xl">
                <a class="font-serif link" href="{{ url }}" target="_blank">
                    <span class="mr-3">{{ title }}</span>
                    <svg class="align-top inline mt-2" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" height="20" width="20" viewBox="0 0 24 24"><path d="M14 4H1v18h20V11h1v12H0V3h14v1zm10 5h-1V2.707L11.354 14.354l-.708-.708L22.293 2H16V1h8v8z"/></svg>
                </a>
            </h2>
            <p class="p-0 my-2">{{ description }}</p>
            <p class="p-0 my-2">{{ category }}, <time datetime="{{ date }}">{{ date | asPostDate(locale) }}</time></p>
        </div>
    </article>
{% endmacro %}

{% macro itemCast(cast) %}
    <h3>Cast:</h3>
    <ul>
        {% for item in cast %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro itemFooter(date, locale) %}
    <footer class="p-4 max-w-screen-xl mx-auto my-10">
        <div class="border-2 border-double border-slate-200 p-4">
            <p class="font-serif">
                {{ 'Created on' if locale == 'en' else 'Creado el' }}
                <time datetime="{{ date }}">{{ date | asPostDate(locale) }}</time>
                {{ 'by' if locale === 'en' else 'por' }} Alberto Ferrero.
            </p>
        </div>
    </footer>
{% endmacro %}

{% macro itemTitle(title) %}
    <h1 class="font-serif max-w-screen-xl mx-auto text-3xl md:text-7xl md:pb-12 pb-7 px-4 pt-10">
        {{ title }}
    </h1>
{% endmacro %}

{% macro itemSubtitle(title) %}
    <h2 class="slate-600 font-serif max-w-screen-xl mx-auto text-xl md:text-2xl md:pb-12 pb-7 px-4 pt-0">
        {{ title }}
    </h2>
{% endmacro %}
