@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5;
    max-width: 60ch;
}

p + p {
    margin-top: 1rem;
}

.font-serif {
    font-family: 'Bodoni Moda', serif;
}

.mirror {
    transform: scaleX(-1);
}

.shape-outside-circle {
    shape-outside: circle();
}
